.chips-container{
    display: flex;
    flex-wrap: nowrap;
    gap: 1rem;
    padding: 0.5rem;
    background-color: var(--menu-bar);
    border-top:1px solid var(--button-color) ;
    border-bottom:1px solid var(--button-color) ;
    cursor: pointer;
    position: sticky;
    top: 77px;
    overflow: hidden;
}

@media screen and (max-width: 600px) {
    .chips-container{
        top:120.5px;
        overflow-x: scroll;
    }
}
.chips{
    border: 1px solid var(--button-color);
    border-radius: 1rem;
    background-color: var(--menu-bar);
    color: var(--primary-text-color);
    width: max-content;
    padding: 0.5rem 1rem 0.5rem 1rem;
    cursor: pointer;
}

.chips:hover{
    background-color: var(--primary-text-color);
    color: var(--menu-bar);
}

.chips.selected{
    background-color: var(--primary-text-color);
    color: var(--menu-bar);
}
