.flex-desc{
 flex: 0 0 20rem;
}

.sidebar{
    padding: 1rem 1rem 1rem 0;
    background-color: var(--menu-bar);
    color: var(--primary-text-color);
}

.sidebar-wrap{
    position: sticky;
	top: 95px;
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.sidebar-child{
    width: 100%;
    height: max-content;
    padding: 1rem 0;
    border-radius: 0.1rem;
    cursor: pointer;
    display: flex;
    text-align: center;
    align-items: center;
    font-weight: 500;
    /* font-size: 1.2rem; */
    font-size: 0;
}

.sidebar-child:hover{
   background-color: var(--button-color);
}

.sidebar-child span{
    margin: 0 1rem 0 1rem;
    width: 1rem;
}

.sidebar-child div{
    text-align: left;
    justify-content: left;
}

.sidebar-child.selected{
    background-color: var(--button-color);
}

@media screen and (max-width:1250px){
    .sidebar{
        width: 100%;
        display: flex;
        position: fixed;
        bottom: -5px;
        overflow: hidden;
    }

    .sidebar-child{
        width: fit-content;
        font-size: 0;
    }

    .link-tag{
        width: fit-content;
    }
    
    .sidebar-wrap{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}