@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

@import url(./Components/Header/Header.css);

*{
  margin: 0;
  padding: 0;
}

.flex{
  display: flex;
}

.flex-history-cont{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.flex-column{
  display: flex;
  flex-direction: column;
}

:root{
  --icon-color:#B3B3B3;
  --background-color:#121212;
  --primary-text-color:#FFFFFF;
  --menu-bar:#212121;
  --button-color:#3D3D3D;
}

.video-container{
  width: 100%;
  min-height: 90vh;
  height: max-content;
  background-color: var(--background-color);
}

.link-tag{
  text-decoration: none;
  color: var(--primary-text-color);
}

.color-primary{
  color: var(--primary-text-color);
}

.wd-100{
  width: 100%;
}

.wd-fc-1{
  width: 2rem;
}