.video-header-container{
    width: 100%;
    height: 80%;
    color: var(--primary-text-color);
}

.video-container-wrapper{
    height: 600px;
    display: flex;
    width: 65%;
}

.video-header{
    width: 100%;
    height: 100%;
}

.video-play-footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

@media screen and (max-width:1200px){
    .video-play-footer{
        width: 100%;
        display: flex;
        gap:1rem;
        flex-direction: column;
        padding: 1rem;
    }

    .video-container-wrapper{
        width: 100%;
    }
}

.video-footer-right{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
.chips-vid{
    display: flex;
}

@media screen and (max-width:1200px){
    .video-header{
        width: 100%;
        min-height: 300px;
        height: max-content;
    }

    .video-header-container{
        height: 100%;
    }

    .video-container-wrapper{
        min-height: 0;
        height: max-content;
    }
}


.playlist-container{
    padding: 0.5rem;
    min-width: 20rem;
    width: max-content;
    background-color: var(--menu-bar);
    color: var(--primary-text-color);
    position: absolute;
    top:40% ;
    right: 40%;
    z-index: 999;
}

@media screen and (max-width: 600px){
    .playlist-container{
        top:30%;
        right: 10%;
        left: 10%;
    }
}
.playlist-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.playlist-child{
    display: flex;
    justify-content: space-between;
    padding-right: 3rem;
}

.delete-playlist{
    cursor: pointer;
}
.playlist-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    font-size: 1rem;
}

.playlist-child-container{
    display: flex;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    font-size: 1.2rem;
    gap: 1rem;
    cursor: pointer; 
}

.playlist-child-container input{
    height: 1.5rem;
    width: 1.5rem;
}

.playlist-child-footer{
    position: relative;
    cursor: pointer;
    font-size: 1rem;
    display: flex;
    justify-content: center;
}

.playlist-icon{
    font-size: 1.5rem;
}

.submit-btn{
    background-color: var(--action-color);
    color: var(--primary-text-color);
    padding: 0.1rem;
    border: none;
    cursor: pointer;
}

.submit-input{
  outline: none;
}

.close{
    background-color: var(--menu-bar);
    color: var(--primary-text-color);
}

.videoCardPlaylist{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    height: 260px;
    width: 270px;
    background-color: var(--menu-bar);
    cursor:pointer;
  }

  /* ------------------------ */
  .sidebar-single{
    width: fit-content;
    padding: 1rem 1rem 1rem 0;
    background-color: var(--menu-bar);
    color: var(--primary-text-color);
    font-size: 0;
}

.sidebar-wrap-single{
    position: sticky;
	top: 95px;
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

  .sidebar-child-single{
    /* height: max-content; */
    border-radius: 0.1rem;
    cursor: pointer;
    display: flex;
    text-align: center;
    align-items: center;
    font-weight: 500;
    padding: 1rem 0;
}


.sidebar-child-single:hover{
    background-color: var(--button-color);
 }
 
 .sidebar-child-single span{
     margin: 0 1rem 0 1rem;
     width: 1rem;
 }
 
 .sidebar-child-single div{
     text-align: left;
     justify-content: left;
 }
 
 .sidebar-child-single.selected{
     background-color: var(--button-color);
 }

 @media screen and (max-width:1250px){
    .sidebar-single{
        width: 100%;
        display: flex;
        position: fixed;
        bottom: -5px;
        overflow: hidden;
    }

    .sidebar-child-single{
        width: fit-content;
        font-size: 0;
    }

    .sidebar-wrap-single{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

/* ---------------------------- */

.recommended-videos-single{
    height: max-content;
    width: 100%;
    padding: 2rem;
    gap: 1rem;
    display: flex;
    color: var(--primary-text-color);
  }

.video-recommended{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0 1rem ;
    width: 35%;
}

.video-recommended-child{
    background-color: var(--menu-bar);
    display: flex;
    height: max-content;
    width: 100%;
    cursor: pointer;
}

.video-thumbnail-recommended{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.video-recommended-header{
    background-color: var(--button-color);
    display: flex;
    height: max-content;
    width: 200px;
}

.video-recommended-footer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.5rem;
    width: 50%;
}

@media screen and (max-width:1250px){
    .recommended-videos-single{
    padding: 0;
       flex-direction: column;
       margin-bottom: 10rem;
      }

    .video-recommended{
        width: 100%;
        height: 100%;
    }

    .video-recommended-child{
        display: flex;
        flex-direction: column;
    }

    .video-recommended-header{
        width: 100%;
    }

    .video-recommended-footer{
        width: 100%;
    }
}

/* ----------------------- */
.chips-single{
    border: 1px solid var(--button-color);
    border-radius: 1rem;
    background-color: var(--menu-bar);
    color: var(--primary-text-color);
    display: flex;
    align-items: center;
    width: max-content;
    height: fit-content;
    padding: 0.5rem;
    cursor: pointer;
    font-size: 0.9rem;
}

.chips-single:hover{
    background-color: var(--primary-text-color);
    color: var(--menu-bar);
}

.chips-single.selected{
    background-color: var(--primary-text-color);
    color: var(--menu-bar);
}

.wd-single-fc-1{
    width: 1rem;
    font-size: 1rem;
  }

.video-play-title{
    width: 50%;
}